
<h2 class="title pb-4">Log In</h2>
  <form id="login-form" class="card-body">
    <div class="form-row">
      <label class="form-label" for="email-login">Email</label>
      <input  id="email-login" type="text" autofocus="true" class="form-input form-control"/>
    </div>
    <div class="form-row mb-3">
      <label class="form-label" for="password-login">Password</label>
      <input id="password-login" type="password" autofocus="true" class="form-input form-control"/>
    </div>
      <button type="submit" class="btn">LogIn</button>
      <a class="btn login-link" href="/signup">SignUp</a>
  </form>
    
<script src="/js/login.js"></script>
